<!DOCTYPE html>
<html>

<head>
    <title>Basic Input Page </title>
    <link rel="stylesheet" href="/basic.css">

</head>

<body>
    <h1>Basic Input Page</h1>

    <form id="dataForm">
        <!-- Text Input -->
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Enter username" required />
        </div>

        <!-- Email Input -->
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Enter email address" required />
        </div>

        <button type="submit">Send</button>
    </form>

    <script src="/script.js"></script>

    
</body>

</html>